.formAdd {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #e5e7cd;
    border: 1px solid black;
    margin-bottom: 5px;
}

.btn_add {
    box-shadow: 0 3px 2px #bfcfcb;
    border: 1px solid #bfcfcb;
    border-radius: 5px;
}

.inputText {
    width: 80%;
    padding: 5px 0 5px 5px;
    font-size: 1rem;
    border: 1px solid #000000;
}
